:root {
  --cor-p0: #0a0a0a;
  --cor-p1: #1e1e1f;
  --cor-p2: #323133;
  --cor-p3: #464547;
  --cor-r0: #291466;
  --cor-r1: #372470;
  --cor-r2: #6a53ad;
  --cor-r3: #9078d9;
  --cor-r4: #b7a2f4;
  --cor-b0: #a09ea3;
  --cor-b1: #bdbcc2;
  --cor-b2: #dbdae0;
  --cor-b3: #efedf5;
}
